section {
  display: flex;

  padding-bottom: 150px;

  height: 500px;
}

.welcome-section {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

div img {
  width: 100%;
  margin-top: 30px;
}
.half-width {
  width: 40%;
  padding-left: 2%;
  margin-left: 5%;
}

span {
  color: orange;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(salmon, tomato);
  padding: 10px 40px;
}

p {
  text-align: justify;
}
